*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'sans-serif';
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.title, .subtitle {
  text-align: center;
  padding: 20px;
}

.container {
  border: 3px solid black;
  display: flex;
  align-self: center;
  margin-top: 25px;
}

.grid-square {
  width: 25px;
  height: 25px;
  border: 1px solid red;
}

.loner {
  width: 50px;
  height: 50px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}