*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'sans-serif';
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(226, 226, 226);
}

.title, .subtitle {
  text-align: center;
  padding: 15px;
}

.container {
  border: 1px solid black;
  display: flex;
  align-self: center;
  margin-top: 25px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgb(165, 165, 165);
  width: 500px;
  height: 500px;
}

.grid-square {
  width: 5px;
  height: 5px;
}

.popup-button {
  display: flex;
  align-self: center;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.438);
  margin-top: 40px;
}